<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/assets/stylersheet/logged.css">
    
    <!-- Poppins -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

</head>
<body>
    <nav>
        <section class="nav-bar-cointainer">
            <section class="nav-top-container">
                <section class="nav-logo-container">

                    <section class="nav-logo-top-assets-container">
                        <p>Gerenciador</p>
                        
                        <div class="hamburguer">
                            <div class="bar"></div>
                            <div class="bar"></div>
                            <div class="bar"></div>
                        </div>
                    </section>
    
                    <img class="nav-logo-logo" src="assets/images/Visage.png" alt="">
    
                </section>
    
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="">
                            <img src="assets/images/home.png" alt="">
                            <p>Início</p>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="">
                            Loja Virtual
                        </a>
                    </li>

                    <li class="nav-item" style="color: #635EFF;">
                        <a href="" style="color: #635EFF;" >
                            Administração
                        </a>
                    </li>
                </ul>
            </section>

            <a href="" class="div-button">
                <button>
                    Logout
                </button>
            </a>

        </section>
    </nav>

    <main>
       <header></header> 

       <section class="main-container">
            <article class="decor-container">
                <section class="main-decor-header">
                    <img src="assets/images/permission.svg" alt="">
                    <p>Produtos</p>
                </section>
            
                <section class="addB-C">
                    <button id="addProductManual">
                        + Add
                    </button>
                </section>
            </article>
        

            <section class="search-container">
                <input type="text" placeholder="Pesquisar..." name="searchInput" id="searchInput">
            
                <div class="dropdown">
                    <div class="styled-select">
                        <select id="select" name="select">
                            <option value="CSS">CSS</option>
                            <option value="Javascript">Javascript</option>
                            <option value="PHP">PHP</option>
                            <option value="ASP.NET">ASP.NET</option>
                            <option value="HTML">HTML</option>
                        </select>
                    </div>
                </div>
            
                <button type="submit" id="submitSearchButton">Search</button>
            </section>
            

            <section class="list">

            </section>
       </section>
    </main>
    
    <script>
        
    </script>
</body>
</html>